.about-divider {
    color: white !important;
    font-size: 4rem !important;
    text-shadow: 3px 3px 6px #d8d290 !important;
}
@media only screen and (max-width: 450px) {
    .about-divider {
        font-size: 3.2rem !important;
    }
}
.about-card {
    box-shadow: 3px 3px 6px #eaedb2;
}

.ant-card-actions {
    display: flex !important;
    justify-content: space-evenly !important;
}

.action-btns {
    display: flex !important;
    align-items: center !important;
    justify-content: center;
}
.action-text {
    margin-left: .3rem;
}

.ant-tag {
    margin: .3rem;
}

.hobby-btn {
    margin: .3rem;
    pointer-events: none;
    box-shadow: 1px 2px 4px black;
}