.about-divider {
    color: white !important;
    font-size: 4rem !important;
    text-shadow: 3px 3px 6px #d8d290 !important;
}

.ant-card-actions {
    display: flex !important;
    justify-content: space-evenly !important;
}

.action-btns {
    display: flex !important;
    align-items: center !important;
    justify-content: center;
}
.action-text {
    margin-left: .3rem;
}

.ant-tag {
    margin: .3rem;
}