.project-divider {
    color: white !important;
    font-size: 4rem !important;
    text-shadow: 3px 3px 6px #d8d290 !important;
}
/* Cryptohub */
.cryptohub-project {
    pointer-events: auto;
    cursor: pointer;
    background: url("https://i.imgur.com/6KwmtbE.png");
    background-size: cover;
    background-position: center;
}
.cryptohub-project:hover .crypto-overlay {
    opacity: 1;
}
.crypto-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
      url("https://i.imgur.com/6KwmtbE.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    opacity: 0;
    transition: ease-in-out .5s;
    border-radius: 6px;
}
.overlay-title {
    color:white;
    padding-top: 1rem !important;
    font-size: 1.4rem;
}
.crypto-overlay .ant-btn {
    margin-top: 1rem !important;
}

/* Before I Fly */
.beforeIFly-project {
    pointer-events: auto;
    cursor: pointer;
    background: url("https://i.imgur.com/KfLxZzB.png");
    background-size: cover;
    background-position: center;
}
.beforeIFly-project:hover .beforeIFly-overlay {
    opacity: 1;
}
.beforeIFly-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
      url("https://i.imgur.com/6KwmtbE.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    opacity: 0;
    transition: ease-in-out .5s;
    border-radius: 6px;
}
.overlay-title {
    color:white;
    padding-top: 1rem !important;
    font-size: 1.4rem;
}
.beforeIFly-overlay .ant-btn {
    margin-top: 1rem !important;
}