.project-divider {
    color: white !important;
    font-size: 4rem !important;
    text-shadow: 3px 3px 6px #d8d290 !important;
    display:block;
}
@media only screen and (max-width: 450px) {
    .project-divider {
        font-size: 3.2rem !important;
    }
}
.projects-container {
    display: flex;
    flex-direction: column;
}
.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projects-row {
    display: flex;
    justify-content: center;
}
/* Cryptohub */
.cryptohub-project {
    pointer-events: auto;
    cursor: pointer;
    background: url("https://i.imgur.com/6KwmtbE.png");
    background-size: cover;
    background-position: center;
    margin-top: 3rem !important;

}
.cryptohub-project:hover .cryptohub-overlay {
    opacity: 1;
}
.cryptohub-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
      url("https://i.imgur.com/6KwmtbE.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    opacity: 0;
    transition: ease-in-out .5s;
    border-radius: 6px;
}
.overlay-title {
    color:white;
    padding-top: 1rem !important;
    font-size: 1.4rem;
}
.cryptohub-overlay .ant-btn {
    margin: 1rem !important;
}

/* Before I Fly */
.beforeIFly-project {
    pointer-events: auto;
    cursor: pointer;
    background: url("https://i.imgur.com/KfLxZzB.png");
    background-size: cover;
    background-position: center;
    margin-top: 3rem !important;
}
.beforeIFly-project:hover .beforeIFly-overlay {
    opacity: 1;
}
.beforeIFly-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
      url("https://i.imgur.com/6KwmtbE.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    opacity: 0;
    transition: ease-in-out .5s;
    border-radius: 6px;
}
.overlay-title {
    color:white;
    padding-top: 1rem !important;
    font-size: 1.4rem;
}
.beforeIFly-overlay .ant-btn {
    margin: 1rem !important;
}
/* Investmint */
.investmint-project {
    pointer-events: auto;
    cursor: pointer;
    background: url("https://i.imgur.com/0Ws3DKl.png");
    background-size: cover;
    background-position: center;
    margin-top: 3rem !important;

}
.investmint-project:hover .investmint-overlay {
    opacity: 1;
}
.investmint-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
      url("https://i.imgur.com/0Ws3DKl.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    opacity: 0;
    transition: ease-in-out .5s;
    border-radius: 6px;
}
.overlay-title {
    color:white;
    padding-top: 1rem !important;
    font-size: 1.4rem;
}
.investmint-overlay .ant-btn {
    margin: 1rem !important;
}
/* Travel Booklet */
.travelBooklet-project {
    pointer-events: auto;
    cursor: pointer;
    background: url("https://i.imgur.com/W1Anuor.png");
    background-size: cover;
    background-position: center;
    margin-top: 3rem !important;
}
.travelBooklet-project:hover .travelBooklet-overlay {
    opacity: 1;
}
.travelBooklet-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
      url("https://i.imgur.com/W1Anuor.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    opacity: 0;
    transition: ease-in-out .5s;
    border-radius: 6px;
}
.overlay-title {
    color:white;
    padding-top: 1rem !important;
    font-size: 1.4rem;
}
.travelBooklet-overlay .ant-btn {
    margin: 1rem !important;
}
/* HeroDex */
.herodex-project {
    pointer-events: auto;
    cursor: pointer;
    background: url("https://i.imgur.com/EhNzU3A.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 3rem !important;
}
.herodex-project:hover .herodex-overlay {
    opacity: 1;
}
.herodex-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
      url("https://i.imgur.com/EhNzU3A.jpg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    opacity: 0;
    transition: ease-in-out .5s;
    border-radius: 6px;
}
.overlay-title {
    color:white;
    padding-top: 1rem !important;
    font-size: 1.4rem;
}
.herodex-overlay .ant-btn {
    margin: 1rem !important;
}



